Django>=1.8.7, < 1.9
django-logical-rules
django-s3-folder-storage

# Deployment specific
dj-database-url
dj-static
django-compressor==2.1
django-heroku-memcacheify
django-htmlmin==0.9.1
django-mptt
factory-boy==2.1.2
feincms>=1.11
gunicorn
membersuite-api-client>=0.1.15
newrelic
Pillow
psycopg2
pylibmc
raven
sorl-thumbnail
whitenoise

# Non-pypi repos
https://github.com/AASHE/django-aashe-theme/archive/master.zip
https://github.com/AASHE/aashe-auth/archive/master.zip
https://github.com/AASHE/django-block-content/archive/master.zip
https://github.com/AASHE/django-integration-settings/archive/master.zip
https://github.com/feinheit/feincms_gallery/archive/master.zip
https://github.com/jamstooks/feincms-tinymce-image-browser/archive/master.zip
https://github.com/mliu7/django-minidetector/archive/master.zip
https://github.com/AASHE/django-membersuite-auth/archive/master.zip
https://github.com/AASHE/django-aashestrap/archive/master.zip
