{% load static from staticfiles %}
{% load feincms_tags %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% load static %}
{% load compress %}
{% load cache %}

{% cache 86400 head %}
<head>
    <title>AASHE Conference & Expo</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    {% block css %}
        {% include 'styles.html' %}
    {% endblock %}
</head>
{% endcache %}

<div class="wrapper">
    {% block header %}
        <div class="wrapper">
            <!-- Header -->
            <div class="container">
                <div class="header">
                    <div class="row top-nav">
                        <div class="col-md-5 col-sm-12 aashe-tabs">
                            <a href="http://www.aashe.org/" class="left">
                                aashe</a>
                            <a href="http://bulletin.aashe.org/" class="left">
                                bulletin</a>
                            <a href="http://conference.aashe.org/" class="left">
                                conference</a>
                            <a href="http://hub.aashe.org/" class="left">
                                hub</a>
                            <a href="http://stars.aashe.org/" class="left">
                                stars</a>
                        </div>
                        <div class="col-md-7 col-sm-12" style="float:right; padding-top:6px;">
                            <div class="menu">
                                <a href="#">Register</a>
                                <a href="#">About</a>
                                <a href="#">Sustainability</a>
                                <a href="#">News & Media</a>
                                <a href="#">Contact Us</a>
                                {% if user.is_authenticated %}
                                <a href="http://www.aashe.org/user"><i class="fa fa-user"></i> My Account</a>
                                <a href="{% url "logout" %}?next={{ request.path }}">
                                    <i class="fa fa-lock"></i> Logout, {{ user.email }}
                                </a>
                                {% else %}
                                <a href="{% url "login" %}?next={{ request.path }}"><i class="fa fa-lock"></i> Login</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="fa fa-bars"></span>
                        </button>
                        <div class="col-md-4" style="float: left">
                            <a href="{{ home.get_absolute_url }}" class="logo">
                                <img src="{% static 'img/aashe10_logo.png' %}" alt="AASHE logo" title="" />
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div style="float: right;">
                                    {% include 'navigation_menu.html' %}
                                </div>
                            </div>
                            <div class="row" style="float:right; padding-top:30px;">
                                <div class="clock" style="float:left; zoom: 0.4; font-size: 20pt;"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /Header -->
    {% endblock %}
    {% cache 86400 content request.path %}
    {% block title %}{% endblock %}
    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'footer_navigation.html' %}
    {% endblock %}
    {% endcache %}
</div>

{% cache 86400 javascript %}
{% block javascript %}
    {% compress js %}
    {% include 'aashe_theme/javascript.html' %}
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="{% static 'aashe_theme/unify/plugins/jquery.parallax.js' %}"></script>
    <script src="{% static 'aashe_theme/unify/plugins/master-slider/masterslider/masterslider.min.js' %}"></script>
    <script src="{% static 'aashe_theme/unify/plugins/master-slider/masterslider/jquery.easing.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'aashe_theme/unify/plugins/counter/waypoints.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'aashe_theme/unify/plugins/counter/jquery.counterup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'aashe_theme/unify/plugins/fancybox/source/jquery.fancybox.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'aashe_theme/unify/plugins/owl-carousel/owl-carousel/owl.carousel.js' %}"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="{% static 'aashe_theme/unify/js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'aashe_theme/unify/js/plugins/fancy-box.js' %}"></script>
    <script type="text/javascript" src="{% static 'aashe_theme/unify/js/plugins/owl-carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'aashe_theme/unify/js/plugins/master-slider-fw.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initCounter();
            App.initParallaxBg();
            FancyBox.initFancybox();
            MSfullWidth.initMSfullWidth();
            OwlCarousel.initOwlCarousel();
        });
    </script>
    <script src="{% static 'flipclock/compiled/flipclock.min.js' %}"></script>
    <script src="{% static 'content/gallery/gallery.js' %}"></script>

    <!--Custom JS -->
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <!--[if lt IE 9]>
        <script src="{% static 'aashe_theme/unify/plugins/respond.js' %}"></script>
        <script src="{% static 'aashe_theme/unify/plugins/html5shiv.js' %}"></script>
        <script src="{% static 'aashe_theme/unify/plugins/placeholder-IE-fixes.js' %}"></script>
    <![endif]-->
{% endcompress %}
{% endblock %}
{% endcache %}

</html>