{% load static from staticfiles %}
<div class="footer-v3" style="background-color:#f7f7f7;">
    <div class="footer" style="padding-top:25px; padding-bottom:25px;">
        <div class="container">
            <!-- About AASHE -->
            <div class="col-md-6 md-margin-bottom-40">
                <div class="headline"><h2>About AASHE</h2></div>
                <div class="media">
                      <a class="pull-left" href="http://www.aashe.org/">
                            <img class="img-responsive" src="{% static 'img/Footer_Logo.png' %}">
                      </a>
                      <div class="media-body">
                            <p>The Association for the Advancement of
                            Sustainability in Higher Education is a membership
                            association of colleges &amp; universities,
                            businesses, and nonprofits who are working
                            together to lead the sustainability
                            transformation.
                              <a href="http://www.aashe.org/about">
                                Learn more about AASHE's mission.</a>
                            </p>
                      </div>
                </div>
            </div>
            <!-- End About AASHE -->

            <!-- Contact Us -->
            <div class="col-md-2 md-margin-bottom-40">
                <div class="headline"><h2>Contact Us</h2></div>
                <address>
                  <ul class="list-unstyled">
                    <li><i class="icon-envelope-alt" style="color: white;"></i>
                      <a class="btn-u btn-brd btn-brd-hover" href="mailto:conference@aashe.org?subject=AASHE%20Conference%20and%20Expo%20Inquiry">
                        conference@aashe.org</a>
                    </li>
                  </ul>
                </address>
            </div>
            <div class="col-md-2 md-margin-bottom-40">
                <div class="headline"><h2>Newsletters</h2></div>
                <a class="btn-u btn-brd btn-brd-hover" href="http://visitor.r20.constantcontact.com/d.jsp?llr=ypfrgybab&p=oi&m=1101397530104&sit=cck9okwbb&f=3e19f712-0e9c-4dfc-a328-8c4423ffb19e">
                    Subscribe Now
                </a>
            </div>
            <div class="col-md-2 md-margin-bottom-40">
                <div class="headline"><h2>Stay Connected</h2></div>
                <ul class="social-icons">
                  <li><a href="https://www.facebook.com/aasheorg" data-original-title="Facebook" class="social_facebook"></a></li>
                  <li><a href="http://twitter.com/AASHENews" data-original-title="Twitter" class="social_twitter"></a></li>
                  <li><a href="http://www.linkedin.com/company/aashe" data-original-title="LinkedIn" class="social_linkedin"></a></li>
                </ul>
            </div>
            <!-- End Contact Us -->
        </div>
    </div>
</div><!--/footer-->
<!--=== End Footer ===-->
<div class="copyright">
    <div class="container">
          <p class="text-center">
            Copyright © 2016 •
            Association for the Advancement of Sustainability in Higher
            Education
          </p>
    </div>
</div>
<!--/copyright-->
