{% extends 'base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'aashe_theme/unify/plugins/fancybox/source/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'aashe_theme/unify/plugins/owl-carousel/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'aashe_theme/unify/plugins/master-slider/masterslider/style/masterslider.css' %}">
    <link rel='stylesheet' href="{% static 'aashe_theme/unify/plugins/master-slider/masterslider/skins/black-2/style.css' %}">
{% endblock %}

{% block page %}
    <!--=== Slider ===-->
    {% block masterslider %}{% endblock %}
    <!--=== End Slider ===-->

    <!--=== Call To Action ===-->
    <div id="call-to-action" class="call-action-v1 bg-color-light">
        <div class="container">
            <div class="call-action-v1-box">
                <div class="call-action-v1-in">
                    <p>Unify creative technology company providing key digital services and focused on helping our clients to build a successful business on web and mobile.</p>
                </div>
                <div class="call-action-v1-in inner-btn page-scroll">
                    <a href="#portfolio" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">REGISTER TODAY</a>
                </div>
            </div>
        </div>
    </div>
    <!--=== End Call To Action ===-->

    <!-- About Info -->
    <div id="abount-info" class="container content-md">
        <div class="row">
            <div class="col-md-6">
                <h2 class="title-v2">WE ARE UNIFY</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures.</p><br>
                <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
                <a href="#" class="btn-u">View Our Work</a>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="aashe_theme/unify/img/mockup/mockup1.png" alt="">
            </div>
        </div>
    </div>
    <!-- End About Info -->

    <!--=== Parallax Quote ===-->
    <div id="parallax-quote" class="parallax-quote parallaxBg" style="background-position: 50% 22px;">
        <div class="container">
            <div class="parallax-quote-in">
                <p>If you can design one thing <span class="color-green">you can design</span> everything. <br> Just Believe It.</p>
                <small>- HtmlStream -</small>
            </div>
        </div>
    </div>
    <!--=== End Parallax Quote ===-->

    <!--=== Service Blcoks ===-->
    <div id="services" class="container content-md">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">OUR SERVICES</h2>
            <p class="space-lg-hor">If you are going to use a <span class="color-green">passage of Lorem Ipsum</span>, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making <span class="color-green">this the first</span> true generator on the Internet.</p>
        </div>

        <!-- Service Blcoks -->
        <div class="row service-box-v1">
            <div class="col-md-4 col-sm-6 md-margin-bottom-40">
                <div class="service-block service-block-default no-margin-bottom">
                    <i class="icon-lg rounded-x icon icon-badge"></i>
                    <h2 class="heading-sm">Web Design &amp; Development</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                    <ul class="list-unstyled">
                        <li>Responsive Web Desgin</li>
                        <li>E-commerce</li>
                        <li>App &amp; Icon Design</li>
                        <li>Logo &amp; Brand Design</li>
                        <li>Mobile Development</li>
                        <li>UI/UX Design</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 md-margin-bottom-40">
                <div class="service-block service-block-default no-margin-bottom">
                    <i class="icon-lg rounded-x icon-line icon-trophy"></i>
                    <h2 class="heading-sm">Marketing &amp; Cunsulting</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>
                    <ul class="list-unstyled">
                        <li>Analysis &amp; Consulting</li>
                        <li>Email Marketing</li>
                        <li>App &amp; Icon Design</li>
                        <li>Responsive Web Desgin</li>
                        <li>Social Networking</li>
                        <li>Documentation</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="service-block service-block-default no-margin-bottom">
                    <i class="icon-lg rounded-x icon-line icon-layers"></i>
                    <h2 class="heading-sm">SEO &amp; Advertising</h2>
                    <p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>
                    <ul class="list-unstyled">
                        <li>Display Advertising</li>
                        <li>App &amp; Icon Design</li>
                        <li>Analysis &amp; Consulting</li>
                        <li>Google AdSense</li>
                        <li>Social Media</li>
                        <li>Google/Bing Analysis</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Service Blcoks -->
    </div>
    <!--=== End Service Blcoks ===-->

    <!--=== Team v4 ===-->
    <div id="team" class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>MEET OUR TEAM</h2>
            <p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
            Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla </p>
        </div>

        <div class="row team-v4">
            <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                <img class="img-responsive" src="aashe_theme/unify/img/team/img15-md.jpg" alt="">
                <span>Daniel Wearne</span>
                <small>- Technica Director -</small>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed a nulla non</p>
                <ul class="list-inline team-social-v4">
                    <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                <img class="img-responsive" src="aashe_theme/unify/img/team/img31-md.jpg" alt="">
                <span>Sara Lisbon</span>
                <small>- UI Designer -</small>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed a nulla non</p>
                <ul class="list-inline team-social-v4">
                    <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 sm-margin-bottom-50">
                <img class="img-responsive" src="aashe_theme/unify/img/team/img18-md.jpg" alt="">
                <span>John Doe</span>
                <small>- Backend Developer -</small>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed a nulla non</p>
                <ul class="list-inline team-social-v4">
                    <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <img class="img-responsive" src="aashe_theme/unify/img/team/img37-md.jpg" alt="">
                <span>Alice Williams</span>
                <small>- Customer Support -</small>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit, sed a nulla non</p>
                <ul class="list-inline team-social-v4">
                    <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="rounded-x fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div><!--/end row-->
    </div>
    <!--=== End Team v4 ===-->

    <!--=== Testimonials v6 ===-->
    <div id="testimonials" class="bg-color-light">
        <div class="container content-sm">
            <div class="headline-center margin-bottom-60">
                <h2>WHAT PEOPLE SAY</h2>
                <p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
                Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla </p>
            </div>

            <!-- Testimonials Wrap -->
            <div class="testimonials-v6 testimonials-wrap">
                <div class="row margin-bottom-50">
                    <div class="col-md-6 md-margin-bottom-50">
                        <div class="testimonials-info rounded-bottom">
                            <img class="rounded-x" src="aashe_theme/unify/img/testimonials/img5.jpg" alt="">
                            <div class="testimonials-desc">
                                <p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit.</p>
                                <strong>Evan Bohringer</strong>
                                <span>Web Developer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="testimonials-info rounded-bottom">
                            <img class="rounded-x" src="aashe_theme/unify/img/testimonials/img6.jpg" alt="">
                            <div class="testimonials-desc">
                                <p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit.</p>
                                <strong>Sara Lisbon</strong>
                                <span>Designer</span>
                            </div>
                        </div>
                    </div>
                </div><!--/end row-->

                <div class="row margin-bottom-20">
                    <div class="col-md-6 md-margin-bottom-50">
                        <div class="testimonials-info rounded-bottom">
                            <img class="rounded-x" src="aashe_theme/unify/img/testimonials/img3.jpg" alt="">
                            <div class="testimonials-desc">
                                <p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit.</p>
                                <strong>Alice Williams</strong>
                                <span>Web Developer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="testimonials-info rounded-bottom">
                            <img class="rounded-x" src="aashe_theme/unify/img/testimonials/img2.jpg" alt="">
                            <div class="testimonials-desc">
                                <p>Donec quis lorem sit amet nibh tempor porttitor non eu justo. Fusce iaculis scelerisque nibh at rhoncus. Aliquam blandit.</p>
                                <strong>Jane Wearne</strong>
                                <span>Technical Direector</span>
                            </div>
                        </div>
                    </div>
                </div><!--/end row-->
            </div>
            <!-- End Testimonials Wrap -->
        </div><!--/end container-->
    </div>
    <!--=== End Testimonials v6 ===-->

    <!--=== Sponsors Scroller ===-->
    <div id="sponsors" class="container content-sm">
        <div class="owl-clients-v1">
            <div class="item">
                <img src="aashe_theme/unify/img/clients4/1.png" alt="">
            </div>
            <div class="item">
                <img src="aashe_theme/unify/img/clients4/2.png" alt="">
            </div>
            <div class="item">
                <img src="aashe_theme/unify/img/clients4/3.png" alt="">
            </div>
            <div class="item">
                <img src="aashe_theme/unify/img/clients4/4.png" alt="">
            </div>
            <div class="item">
                <img src="aashe_theme/unify/img/clients4/5.png" alt="">
            </div>
            <div class="item">
                <img src="aashe_theme/unify/img/clients4/6.png" alt="">
            </div>
            <div class="item">
                <img src="aashe_theme/unify/img/clients4/7.png" alt="">
            </div>
            <div class="item">
                <img src="aashe_theme/unify/img/clients4/8.png" alt="">
            </div>
            <div class="item">
                <img src="aashe_theme/unify/img/clients4/9.png" alt="">
            </div>
        </div>
    </div>
    <!--=== End Owl Clients v1 ===-->

    <!--=== Footer v6 ===-->
    <div id="footer" class="footer-v6">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About Us -->
                    <div class="col-md-3 sm-margin-bottom-40">
                        <div class="heading-footer"><h2>About Unify</h2></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit ut metus a commodo. Pellentesque congue tellus sed enim sollicitudin, id blandit mauris eleifend.</p>
                    </div>
                    <!-- End About Us -->

                    <!-- Recent News -->
                    <div class="col-md-3 sm-margin-bottom-40">
                        <div class="heading-footer"><h2>Recent News</h2></div>
                        <ul class="list-unstyled link-news">
                            <li>
                                <a href="#">Apple Conference</a>
                                <small>12 July, 2014</small>
                            </li>
                            <li>
                                <a href="#">Bootstrap Update</a>
                                <small>12 July, 2014</small>
                            </li>
                            <li>
                                <a href="#">Themeforest Templates</a>
                                <small>12 July, 2014</small>
                            </li>
                        </ul>
                    </div>
                    <!-- End Recent News -->

                    <!-- Useful Links -->
                    <div class="col-md-3 sm-margin-bottom-40">
                        <div class="heading-footer"><h2>Useful Links</h2></div>
                        <ul class="list-unstyled footer-link-list">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Latest jobs</a></li>
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- End Useful Links -->

                    <!-- Contacts -->
                    <div class="col-md-3">
                        <div class="heading-footer"><h2>Contacts</h2></div>
                        <ul class="list-unstyled contacts">
                            <li>
                                <i class="radius-3x fa fa-map-marker"></i>
                                795 Folsom Ave, Suite 600,
                                San Francisco, CA 94107
                            </li>
                            <li>
                                <i class="radius-3x fa fa-phone"></i>
                                (+123) 456 7890<br>
                                (+123) 456 7891
                            </li>
                            <li>
                                <i class="radius-3x fa fa-globe"></i>
                                <a href="#">toronto@gmail.com</a><br>
                                <a href="#">www.toronto.com</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Contacts -->
                </div>
            </div><!--/container -->
        </div>

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 sm-margon-bottom-10">
                        <ul class="list-inline terms-menu">
                            <li class="silver">Copyright © 2014 - All Rights Reserved</li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy and Policy</a></li>
                            <li><a href="#">License</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline dark-social pull-right space-bottom-0">
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Vine" href="#">
                                    <i class="fa fa-vine"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Google plus" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Pinterest" href="#">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Instagram" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Tumblr" href="#">
                                    <i class="fa fa-tumblr"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Youtube" href="#">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Soundcloud" href="#">
                                    <i class="fa fa-soundcloud"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=== End Footer v6 ===-->
</div>
<!--/wrapper-->
{% endblock page %}

{% block javascript %}
    {{ block.super }}
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="{% static 'aashe_theme/unify/plugins/jquery.parallax.js' %}"></script>
    <script src="{% static 'aashe_theme/unify/plugins/master-slider/masterslider/masterslider.min.js' %}"></script>
    <script src="{% static 'aashe_theme/unify/plugins/master-slider/masterslider/jquery.easing.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'aashe_theme/unify/plugins/counter/waypoints.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'aashe_theme/unify/plugins/counter/jquery.counterup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'aashe_theme/unify/plugins/fancybox/source/jquery.fancybox.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'aashe_theme/unify/plugins/owl-carousel/owl-carousel/owl.carousel.js' %}"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="{% static 'aashe_theme/unify/js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'aashe_theme/unify/js/plugins/fancy-box.js' %}"></script>
    <script type="text/javascript" src="{% static 'aashe_theme/unify/js/plugins/owl-carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'aashe_theme/unify/js/plugins/master-slider-fw.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initCounter();
            App.initParallaxBg();
            FancyBox.initFancybox();
            MSfullWidth.initMSfullWidth();
            OwlCarousel.initOwlCarousel();
        });
    </script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <!--[if lt IE 9]>
        <script src="{% static 'aashe_theme/unify/plugins/respond.js' %}"></script>
        <script src="{% static 'aashe_theme/unify/plugins/html5shiv.js' %}"></script>
        <script src="{% static 'aashe_theme/unify/plugins/placeholder-IE-fixes.js' %}"></script>
    <![endif]-->
{% endblock javascript %}
