{% load static %}
{% load compress %}
{% include 'aashe_theme/javascript_compressed.html' %}
{% compress js %}
    <!-- JS Implementing Plugins -->
    <script async type="text/javascript" src="{% static 'aashe_theme/unify/plugins/jquery.parallax.js' %}"></script>
    <script async type="text/javascript" src="{% static 'aashe_theme/unify/plugins/counter/waypoints.min.js' %}"></script>
    <script async type="text/javascript" src="{% static 'aashe_theme/unify/plugins/counter/jquery.counterup.min.js' %}"></script>
    <script async type="text/javascript" src="{% static 'aashe_theme/unify/plugins/fancybox/source/jquery.fancybox.pack.js' %}"></script>
    <script async type="text/javascript" src="{% static 'aashe_theme/unify/plugins/owl-carousel/owl-carousel/owl.carousel.js' %}"></script>
    <!-- JS Page Level -->
    <script async type="text/javascript" src="{% static 'aashe_theme/unify/js/plugins/fancy-box.js' %}"></script>
    <script async type="text/javascript" src="{% static 'aashe_theme/unify/js/plugins/owl-carousel.js' %}"></script>
    <script async type="text/javascript" src="{% static 'aashe_theme/unify/js/plugins/master-slider-fw.js' %}"></script>
    <script async type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initCounter();
            App.initParallaxBg();
            FancyBox.initFancybox();
            MSfullWidth.initMSfullWidth();
            OwlCarousel.initOwlCarousel();
        });
    </script>
    <script async src="{% static 'flipclock/compiled/flipclock.min.js' %}"></script>
    <script async src="{% static 'content/gallery/gallery.js' %}"></script>

    <!--Custom JS -->
    <script async type="text/javascript" src="{% static 'js/custom.js' %}"></script>

    <!--[if lt IE 9]>
        <script src="{% static 'aashe_theme/unify/plugins/respond.js' %}"></script>
        <script src="{% static 'aashe_theme/unify/plugins/html5shiv.js' %}"></script>
        <script src="{% static 'aashe_theme/unify/plugins/placeholder-IE-fixes.js' %}"></script>
    <![endif]-->
    <script src="{% static 'aashe_theme/unify/plugins/master-slider/masterslider/masterslider.min.js' %}"></script>
    <script async src="{% static 'aashe_theme/unify/plugins/master-slider/masterslider/jquery.easing.min.js' %}"></script>
{% endcompress %}
<script async src="{% static 'aashe_theme/unify/plugins/back-to-top.js' %}"></script>