{% load static %}
{% load compress %}

<!-- aashe-theme CSS -->
{% include 'aashe_theme/styles_compressed.html' %}
<!-- Unify theme -->
{% compress css %}
<link rel="stylesheet" href="{% static 'aashe_theme/unify/plugins/fancybox/source/jquery.fancybox.css' %}">
<link rel="stylesheet" href="{% static 'aashe_theme/unify/plugins/owl-carousel/owl-carousel/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'aashe_theme/unify/plugins/master-slider/masterslider/style/masterslider.css' %}">
<link rel='stylesheet' href="{% static 'aashe_theme/unify/plugins/master-slider/masterslider/skins/black-2/style.css' %}">
<link rel='stylesheet' href="{% static 'aashe_theme/unify/css/pages/page_pricing.css' %}">

<!-- aashe-specific overrides -->
<link rel="stylesheet" href="{% static 'aashe_theme/css/aashe_unify.css' %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static "aashe_theme/fonts/dejavu-sans/stylesheet.css" %}"/>

<link rel='stylesheet' href="{% static 'css/custom.css' %}">
<link rel="stylesheet" href="{% static 'flipclock/compiled/flipclock.css' %}">
<link rel="stylesheet" href="{% static 'content/gallery/classic.css' %}">

<!-- end aashe-theme -->
{% endcompress %}