.header .menu {
  text-align: right;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #7c8082;
  margin-bottom: 2px;
  text-transform: uppercase; }
  .header .menu a {
    color: #7c8082;
    margin-left: 15px; }
  @media (max-width: 991px) {
    .header .menu {
      margin-top: -10px; } }

.header .logo img {
  margin: 0;
}

.top-nav {
  margin-top: 10px;
}

.header .navbar-nav > li > a {
  padding: 0 30px 6px 20px;
}

.parallax-quote {
  background: none;
  background-color: #3f7f7f;
}

.gallery-content {
  position: relative;
  left: 5%;
}

.frame {
    height: 200px;
    width: 200px;
    position: relative;
}

.owl-clients-v1 img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.owl-item {
  width: 200px !important;
}

.panel-green {
  border-color: #6BBC49;
}

.panel-green > .panel-heading {
  background: #6BBC49;
}

.pricing-head h3 {
  padding: 28px 0;
}

.pricing-mega-v1 .pricing-head h3 {
  font-size: 16px;
}

.service-block-v8 {
  background-color: #f7f7f7;
}

li a {
  color: #6BBC49;
}

.header .navbar-nav > li > a:hover {
		color: #6BBC49;
	}

.service-block-v8 .service-block-desc h3 {
  margin: 0 0 15px;
}

.service-block-v8 .service-block-desc h3::after {
  left: 0;
  top: 30px;
  height: 1px;
  width: 30px;
  content: " ";
  position: absolute;
  background: #72c02c;
}

.host-block {
  padding-bottom: 25px;
}

.host {
  position: relative;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

.host-section-header {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.logo {
  display: inline-block;
  height: auto;
  width: auto;
  float: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.video-gallery {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin: auto;
}

.video-gallery object {
  width: 100%;
  height: 300px;
}

.video-gallery embed {
  width: 100%;
  height: 300px;
}

.right-column object {
  width: 100%;
  height: 344px;
  padding: 10px 0 10px 0;
}

.right-column embed {
  width: 100%;
  height: 344px;
  padding: 10px 0 10px 0;
}

.left-column object {
  width: 100%;
  height: 344px;
  padding: 10px 0 10px 0;
}

.left-column embed {
  width: 100%;
  height: 344px;
  padding: 10px 0 10px 0;
}