<div class="row no-space-pricing pricing-mega-v1">
    <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
        <div class="pricing hidden-area">
            <ul class="pricing-content list-unstyled">
                {% for level in registration_levels %}
                    <a href="#" data-toggle="popover" data-content="{{ level.level_details }}" data-placement="bottom">
                    <li class="bg-color">

                            {{ level.level_name }}

                    </li></a>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% for column in columns %}
        <div class="col-md-2 col-sm-6 block">
            <div class="pricing">
                <div class="pricing-head" style="height: 75px;">
                    <h3>
                        {{ column.deadline }}
                    </h3>
                </div>
                <ul class="pricing-content list-unstyled ">
                        {% for price in column.prices %}
                            <li class="bg-color">
                                ${{ price }}
                            </li>
                        {% endfor %}
                </ul>
                <div class="btn-group btn-group-justified">
                    <button type="button" class="btn-u btn-block">
                        <i class="fa fa-shopping-cart"></i>
                        Register
                        <i class="fa"></i>
                    </button>
                </div>
            </div>
        </div>
    {% endfor %}
</div>