<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none; color:#6BBC49;" alt="" src="//
        www.googleadservices.com/pagead/conversion/1001534942/?label=w4FiCLjR-WkQ3uvI3QM&amp;guid=ON&amp;script=0
        "/>
    </div>
</noscript>

<div class="row no-space-pricing pricing-mega-v1">
    <div class="col-md-4 col-sm-4 hidden-sm hidden-xs">
        <div class="pricing hidden-area">
            <ul class="pricing-content list-unstyled">
                {% for level in registration_levels %}
                    <a href="#" data-toggle="popover" data-content="{{ level.level_details }}" data-placement="bottom">
                    <li class="bg-color">

                            {{ level.level_name }}

                    </li></a>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% for column in columns %}
        <div class="col-md-2 col-sm-2 block">
            <div class="pricing">
                <div class="pricing-head" style="height: 75px;">
                    {% if column.deadline.strikethrough %}
                        <h3 style="background-color: darkgray;">
                    {% else %}
                        <h3>
                    {% endif %}
                            {{ column.deadline }}
                        </h3>
                </div>
                <ul class="pricing-content list-unstyled ">
                    {% for price in column.prices %}
                        <li class="bg-color">
                            {% if column.deadline.strikethrough %}
                                <s>${{ price.price }}</s>
                            {% else %}
                                ${{ price.price }}
                            {% endif %}
                            <span class="hidden-md hidden-lg">
                                <a href="#" data-toggle="popover" data-content="{{ price.level.level_details }}" data-placement="bottom">
                                    {{ price.level.level_name }}
                                </a>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
                <div class="btn-group btn-group-justified">
                    {% if column.deadline.strikethrough %}
                        <a class="btn-u btn-block" href="#" style="background-color: darkgray;">
                            Deadline Has Passed
                        </a>
                    {% else %}
                        {% include 'pricing_table/registration_button.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>