{% extends 'base.html' %}
{% load feincms_tags %}
{% block content %}
    <div class="wrapper">
        {% feincms_render_region feincms_page "main_slider" request %}
    </div>
    <div class="wrapper">
        {% feincms_render_region feincms_page "call_to_action" request %}
    </div>
    <div class="container">
        <div class="wrapper" style="padding-top:20px;">
            <div class="row featured-blog">
                {% feincms_render_region feincms_page "featured" request %}
            </div>
        </div>
        <div class="wrapper" style="padding-top:20px;">
            {% feincms_render_region feincms_page "about" request %}
        </div>
    </div>
    <div class="wrapper" style="padding-top:20px;">
        {% feincms_render_region feincms_page "sponsors" request %}
    </div>
    <div class="wrapper" style="padding-top:20px;">
        {% feincms_render_region feincms_page "footer" request %}
    </div>
{% endblock %}