{# This template is just for testing purposes when creating new content types and such locally. Was originally #}
{# home_page.html, but switched over so I could make the actual home page template with that name without losing #}
{# any of my example pages locally or on the dev box. #}

{% extends 'base.html' %}
{% load feincms_tags %}
{% block content %}
    <div class="wrapper">
        {% feincms_render_region feincms_page "main_slider" request %}
    </div>
    <div class="wrapper">
        {% feincms_render_region feincms_page "call_to_action" request %}
    </div>
    <div class="container">
        <div class="wrapper" style="padding-top:20px;">
            {% feincms_render_region feincms_page "large_image" request %}
        </div>
        <div class="wrapper" style="padding-top:20px;">
            <div class="row featured-blog">
                {% feincms_render_region feincms_page "featured" request %}
            </div>
        </div>
        <div class="container content-md">
            <div class="col-md-6" style="float:left;">
                {% feincms_render_region feincms_page "rich-text-left-column" request %}
            </div>
            {% feincms_render_region feincms_page "medium-image-right-column" request %}
        </div>
        <div class="container content-md" style="padding-top:20px;">
            {% feincms_render_region feincms_page "about" request %}
        </div>
    </div>
    <div class="wrapper" style="padding-top:20px;">
        {% feincms_render_region feincms_page "sponsors" request %}
    </div>
    <div class="wrapper" style="padding-top:20px;">
        {% feincms_render_region feincms_page "footer" request %}
    </div>
{% endblock %}