{% extends 'base.html' %}
{% load feincms_tags %}
{% block content %}
    <div class="wrapper">
        {% feincms_render_region feincms_page "title_banner" request %}
    </div>
    <div class="container">
        <div class="wrapper" style="padding-top:20px;">
            <div class="row featured-blog">
                {% feincms_render_region feincms_page "featured" request %}
            </div>
        </div>
        <div class="wrapper">
            {% feincms_render_region feincms_page "main_content" request %}
        </div>
    </div>
    <div class="wrapper">
        {% feincms_render_region feincms_page "parallax_box" request %}
    </div>
    <div class="container">
        <div class="wrapper" style="padding-top:20px;">
            {% feincms_render_region feincms_page "additional_content" request %}
        </div>
    </div>
{% endblock %}