{% extends 'base.html' %}
{% load feincms_tags %}
{% block content %}
    <div class="wrapper">
        {% feincms_render_region feincms_page "title_banner" request %}
    </div>
    <div class="container">
        <div class="video-gallery col-md-4">
            {% feincms_render_region feincms_page "video-column-1" request %}
        </div>
        <div class="video-gallery col-md-4">
            {% feincms_render_region feincms_page "video-column-2" request %}
        </div>
        <div class="video-gallery col-md-4">
            {% feincms_render_region feincms_page "video-column-3" request %}
        </div>
    </div>
{% endblock %}